 
//color variables

$color-primary:rgba(0, 0, 0, 0.737);
$color-primary-dark: rgba(255, 0, 0, 0.807);
$color-grey:#777;
$color-white:#fff;
$color-light-grey:#ffffffc7;
$color-chocolate:#33291ed7;
$color-Shadow:rgb(255, 255, 255);
$color-light-cream: rgba(91, 19, 19, 0.312);

$color-card-1:#060606;
$color-card-2:#6a4836;


$color-span-1:#e6c1c1d9;
$color-span-2:#f0eae6d9;

$color-card-3:#000000;
$color-card-4:#1c4d76;

$color-card-5:#2998d3;
$color-card-6:#995566;

$color-footer:#333;
$color-nav:rgb(0, 0, 0);
$color-nav-dark:rgb(245, 0, 0);

$color-vaild:rgb(91, 145, 26);
$color-background:#f9f4fcbe;



//grid variable
$grid-width:114rem;
$gutter-vertical:4rem;
$gutter-horizantal:6rem;
$gutter-horizantal-footer:0.01rem;

//font
$default-fontsize:1.6rem;
