.Payment-continer{
    width: 80%;
    height: 80vh;
    border-top: .2rem solid $color-white;
    margin: 2rem 10rem;
   
}
.Payment-price{
    margin: 2rem 10rem;
    font-size: 2rem;
    font-weight: 100;
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
   
}