
.contact{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000000,0.8);
    z-index: 9999;
    transition: all 0.3s;
    color: $color-white;

    opacity: 1;
    visibility: hidden;

    
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &__close{
        &:link,
        &:visited{
            color: $color-white;
            text-decoration: none;
            position: absolute;
            top: 1.5rem;
            left: 2.5rem;
            font-size: 3rem;

        }
    }

    &__content{
        @include abscenter;
        width: 65%;
        height: 70rem;

        background-color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-Shadow, 0.25);
    }

    &__login{
        background-image:linear-gradient(110deg,rgba($color-white,0.9) 0%,
        rgba($color-white,1) 60%,
        rgba(255, 166, 0, 0) 40%) ,url(../images/background1.1.jpg);
        background-size: 100%;
        height: 50rem;
        border-radius: 3px;
        box-shadow: 0 1rem 2rem rgba($color-Shadow,0.85);
        position: relative;

        &__form{
            width: 47%;
            padding: 6rem;
            position: absolute;
            top: 30vh;
            left: 50vh;
            box-shadow: 0 1rem 2rem rgba($color-Shadow,0.85);
           

        }

       
    }
    &__form{
        width: 80%;
        padding: 6rem;
        position: relative;
        display: block;
        margin: 0 20rem;

        

        &__group :not(:last-child){
            margin-top: 1rem;
            
        }

        &__input{
            font-size: 1.5rem;
            font-family: inherit;
            color: $color-white;
            padding: 1rem 1.5rem;
            border-radius: .2rem;
            background-color: transparent;
            
            border-bottom: 2px solid color-white;
            width: 65%;
            display: block;


            &:focus{
                outline: none;
                box-shadow: 0 1rem 1.5rem rgba($color-Shadow,0.1) ;
                border-bottom: 2px solid $color-vaild;
            }

            &:focus:invalid{
                border-bottom:2px solid $color-white ;
            }
            &::-webkit-input-placeholder{
                color: $color-white;
            }
           
        }
        &__label{
            font-size: 1.5rem;
            font-weight: 700;
            margin-left: 1rem;
            margin-top: 0.7rem;
            display: inline-block;
            text-align: left;
            transition: all .3s;
            justify-items: left;

        }
        &__input:placeholder-shown + &__label{
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
           

        }
        &_submit_btn{
   
            font-size: 1rem;
            text-decoration: none;
            position: absolute;
            bottom: 2.5rem;
            right: 2.5rem;
            color: &color-primary-dark;
            &:link,
                &:visited{
                        color: $color-white;
                        background-color: $color-footer;
                        text-decoration: none;
                        text-transform: uppercase;
                        display: inline-block;
                        transition: all 0.2s ease;
                }
        
        
        }
    }
   
}


