{% extends "layout.html" %}
{% block body %}
        

        <section class="section_copyrights">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                   copyrights
                </h2>
            </div>
            <div class="content">Last updated: 2023-01-30<br>
                <p class="heading_tertiary">  1.Copyright Policy</p>
                <p class="table-heading">We respect the intellectual property rights of others. It is our policy to respond to 
                    any claim that Content posted on Service infringes on the copyright or other intellectual property rights 
                    (“Infringement”) of any person or entity.If you are a copyright owner, or authorized on behalf of one, 
                    and you believe that the copyrighted work has been copied in a way that constitutes copyright infringement,
                     please submit your claim via email to Genebags@gmail.com, with the subject line: “Copyright Infringement”
                      and include in your claim a detailed description of the alleged Infringement as detailed below, under
                       “DMCA Notice and Procedure for Copyright Infringement Claims”You may be held accountable for damages 
                       (including costs and attorneys’ fees) for misrepresentation or bad-faith claims on the infringement of
                        any Content found on and/or through Service on your copyright.
                    
                <p class="heading_tertiary">2.DMCA Notice and Procedure for Copyright Infringement Claims</p>
                <p class="table-heading">  You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
                    0.1. an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright’s interest;
                    0.2. a description of the copyrighted work that you claim has been infringed, including the URL (i.e., web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;
                    0.3. identification of the URL or other specific location on Service where the material that you claim is infringing is located;
                    0.4. your address, telephone number, and email address;
                    
                </p>
                <p class="heading_tertiary">3. Error Reporting and Feedback</p>
                <p class="table-heading">   
                    You may use Service only for lawful purposes and in accordance with Terms. You agree not to use Service:
                   In any way that violates any applicable national or international law or regulation. For the purpose of 
                   exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate 
                   content or otherwise. To transmit, or procure the sending of, any advertising or promotional material,
                    including any “junk mail”, “chain letter,” “spam,” or any other similar solicitation. To impersonate 
                    or attempt to impersonate Company, a Company employee, another user, or any other person or entity. 
                    In any way that infringes upon the rights of others, or in any way is illegal, threatening, fraudulent, 
                    or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.
                     To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of Service, or which,
                      as determined by us, may harm or offend Company or users of Service or expose them to liability.
                      0.5. a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
                      0.6. a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
                      You can contact our Copyright Agent via email at Genebags@gmail.com.
                      </p>

            </div>

           
        </section>
       
    </body>

    {% endblock %}