{% extends "layout.html" %}
{% block body %}
        

      
        <section class="section_feed">
            
            <h2 class="heading-secondary">Thanks for shopping with GENEBAGS</h2>
            <div class="feedback-container">
                <form method="POST" action="/feedback">
                <h4 class="heading_tertiary">We'd love to know a bit more about your experience with us.</h4>
                <h3 class="heading_tertiary "> 01. design of the website</h3>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Not good" id="q11" name="q1">
                            <label for="q11" class="form__radio-label">not good
                                <span class="form__radio-button"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input"  value="Good" id="q12" name="q1">
                            <label for="q12" class="form__radio-label">
                                <span class="form__radio-button"><img src="images/icon/rate4" alt=""></span>
                                good
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Better" id="q13" name="q1">
                            <label for="q13" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                better
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Best" id="q14" name="q1">
                            <label for="q14" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                best
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Excellent" id="q15" name="q1">
                            <label for="q15" class="form__radio-label">excellent</label>
                        </div>
                    </div>
                    <h3 class="heading_tertiary "> 02. how would you rate our online shopping site</h3>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Not good" id="q21" name="q2">
                            <label for="q21" class="form__radio-label">not good
                                <span class="form__radio-button"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input"  value="Good" id="q22" name="q2">
                            <label for="q22" class="form__radio-label">
                                <span class="form__radio-button"><img src="images/icon/rate4" alt=""></span>
                                good
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Better" id="q23" name="q2">
                            <label for="q23" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                better
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Best" id="q24" name="q2">
                            <label for="q24" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                best
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Excellent" id="q25" name="q2">
                            <label for="q25" class="form__radio-label">excellent</label>
                        </div>
                    </div>
                    <h3 class="heading_tertiary ">03. The friendliness of the delivery driver?</h3>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Not good" id="q31" name="q3">
                            <label for="q31" class="form__radio-label">not good
                                <span class="form__radio-button"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input"  value="Good" id="q32" name="q3">
                            <label for="q32" class="form__radio-label">
                                <span class="form__radio-button"><img src="images/icon/rate4" alt=""></span>
                                good
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Better" id="q33" name="q3">
                            <label for="q33" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                better
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Best" id="q34" name="q3">
                            <label for="q34" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                best
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Excellent" id="q35" name="q3">
                            <label for="q35" class="form__radio-label">excellent</label>
                        </div>
                    </div>
                    <h3 class="heading_tertiary "> 04. And the condition of the product you received?</h3>  
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Not good" id="q41" name="q4">
                            <label for="q41" class="form__radio-label">not good
                                <span class="form__radio-button"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input"  value="Good" id="q42" name="q4">
                            <label for="q42" class="form__radio-label">
                                <span class="form__radio-button"><img src="images/icon/rate4" alt=""></span>
                                good
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Better" id="q43" name="q4">
                            <label for="q43" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                better
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Best" id="q44" name="q4">
                            <label for="q44" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                best
                            </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" value="Excellent" id="q45" name="q4">
                            <label for="q45" class="form__radio-label">excellent</label>
                        </div>
                    </div>
                    <h3 class="heading_tertiary ">05. Any suggestions for us?</h3>
                    
                        <div class="popup__form__group">
                            <input type="text" class="popup__form__input" placeholder="descripton (optional) " name="description" id ="name">
                            <label for="user_id" class="popup__form__label"> description(optional)
                            </label>
                
                        <input class="btn btn--white" type="submit" value="Submit"/>
                            
                        
                    </form>

            </div>
         
</section>


   
    </body>

   {% endblock %}
   