{% extends "layout.html" %}
{% block body %}

        

        <section class="section_terms">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                   Terms and conditions
                </h2>
            </div>
            <div class="content">Last updated: 2023-01-30<br>
                <p class="heading_tertiary">  1. Introduction</p>
                <p class="table-heading">Welcome to Genebags (“Company”, “we”, “our”, “us”)!
                    These Terms of Service (“Terms”, “Terms of Service”) govern your use of our website located at Genebags.com 
                    (together or individually “Service”) operated by Genebags.Our Privacy Policy also governs your use of our Service 
                    and explains how we collect, safeguard and disclose information that results from your use of our web pages.
                    Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You acknowledge that you have 
                    read and understood Agreements, and agree to be bound of them.If you do not agree with (or cannot comply with)
                    Agreements, then you may not use the Service, but please let us know by emailing at Genebags@gmail.com so we can try to find a solution. These Terms apply to all visitors, users and others who wish to access or use Service.
                </p>
                <p class="heading_tertiary">2. Content</p>
                <p class="table-heading">    Content found on or through this Service are the property of Genebags or used with permission. 
                    You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, 
                    for commercial purposes or for personal gain, without express advance written permission from us.
                </p>
                <p class="heading_tertiary">3. Prohibited Uses</p>
                <p class="table-heading">   
                    You may use Service only for lawful purposes and in accordance with Terms. You agree not to use Service:
                   In any way that violates any applicable national or international law or regulation. For the purpose of 
                   exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate 
                   content or otherwise. To transmit, or procure the sending of, any advertising or promotional material,
                    including any “junk mail”, “chain letter,” “spam,” or any other similar solicitation. To impersonate 
                    or attempt to impersonate Company, a Company employee, another user, or any other person or entity. 
                    In any way that infringes upon the rights of others, or in any way is illegal, threatening, fraudulent, 
                    or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.
                     To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of Service, or which,
                      as determined by us, may harm or offend Company or users of Service or expose them to liability.</p>

    <p class="heading_tertiary">4.Additionally, you agree not to:</p>
     <p class="table-heading">   
 Use Service in any manner that could disable, overburden, damage, or impair Service or interfere with any other party’s use of Service, including their ability to engage in real time activities through Service.
 Use any robot, spider, or other automatic device, process, or means to access Service for any purpose, including monitoring or copying any of the material on Service.
 Use any manual process to monitor or copy any of the material on Service or for any other unauthorized purpose without our prior written consent.
 Use any device, software, or routine that interferes with the proper working of Service.
 Introduce any viruses, trojan horses, worms, logic bombs, or other material which is malicious or technologically harmful.
 Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of Service, the server on which Service is stored, or any server, computer, or database connected to Service.
 Attack Service via a denial-of-service attack or a distributed denial-of-service attack.
 Take any action that may damage or falsify Company rating.
 Otherwise attempt to interfere with the proper working of Service.</p>
 
<p class="heading_tertiary">5. Error Reporting and Feedback</p>
<p class="table-heading">     You may provide us either directly at Genebags@gmail.com or via third party sites and tools with 
    information and feedback concerning errors, suggestions for improvements, ideas, problems, complaints, and other matters related 
    to our Service (“Feedback”). You acknowledge and agree that: (i) you shall not retain, acquire or assert any intellectual property
     right or other right, title or interest in or to the Feedback; (ii) Company may have development ideas similar to the Feedback;
      (iii) Feedback does not contain confidential information or proprietary information from you or any third party; and (iv)
       Company is not under any obligation of confidentiality with respect to the Feedback. In the event the transfer of the ownership
        to the Feedback is not possible due to applicable mandatory laws, you grant Company and its affiliates an exclusive,
         transferable, irrevocable, free-of-charge, sub-licensable, unlimited and perpetual right to use (including copy, modify,
          create derivative works, publish, distribute and commercialize) Feedback in any manner and for any purpose.</p>
<p class="heading_tertiary">6.Disclaimer Of Warranty</p> 
<p class="table-heading"> 
THESE SERVICES ARE PROVIDED BY COMPANY ON AN “AS IS” AND “AS AVAILABLE” BASIS. COMPANY MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THEIR SERVICES, OR THE INFORMATION, CONTENT OR MATERIALS INCLUDED THEREIN. YOU EXPRESSLY AGREE THAT YOUR USE OF THESE SERVICES, THEIR CONTENT, AND ANY SERVICES OR ITEMS OBTAINED FROM US IS AT YOUR SOLE RISK.
NEITHER COMPANY NOR ANY PERSON ASSOCIATED WITH COMPANY MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY,
 RELIABILITY, QUALITY, ACCURACY, OR AVAILABILITY OF THE SERVICES. WITHOUT LIMITING THE FOREGOING, NEITHER COMPANY NOR ANYONE ASSOCIATED WITH COMPANY 
 REPRESENTS OR WARRANTS THAT THE SERVICES, THEIR CONTENT, OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES WILL BE ACCURATE, RELIABLE, ERROR-FREE,
  OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT THE SERVICES OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR
   THAT THE SERVICES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.
COMPANY HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY, OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES 
OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR PARTICULAR PURPOSE.
THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>
<p class="heading_tertiary">7.Governing Law</p>
<p class="table-heading">
    These Terms shall be governed and construed in accordance with the laws of india, which governing law applies to agreement without regard To
     its conflict of law provisions.Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights.
      If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect.
       These Terms constitute the entire agreement between us regarding our Service and supersede and replace any prior agreements we might have had 
       between us regarding Service.</p>
       <p class="heading_tertiary">8. Waiver And Severability</p>
       <p class="table-heading">
       No waiver by Company of any term or condition set forth in Terms shall be deemed a further or continuing waiver of such term or condition or a waiver
        of any other term or condition, and any failure of Company to assert a right or provision under Terms shall not constitute a waiver of such right or provision.
       If any provision of Terms is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, 
       such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of Terms will continue in full force and effect.</p>
       <p class="heading_tertiary">9.Changes To Service</p>
       <p class="table-heading">
       We reserve the right to withdraw or amend our Service, and any service or material we provide via Service, in our sole discretion without notice.
        We will not be liable if for any reason all or any part of Service is unavailable at any time or for any period. From time to time, we may restrict
         access to some parts of Service, or the entire Service, to users, including registered users.</p>
               
            </div>

           
        </section>
       
    </body>



    {% endblock %}